### Notebook Topic: Python Basics Crash Course
### Video Lecture: [Python in 75 Minutes](https://www.youtube.com/watch?v=VchuKL44s6E&t=94s)
### Date Created: October 1st, 2025

#### Core Datatypes

In [3]:
# Data Types

# int --> whole numbers
val1 = -267236
val2 = 76373

# float --> any number with decimals 
float1 = 2727.0
float2 = 3.14159

# string --> enclosed in quotes (single or double)
string1 = 'abc'
string2 = "hello world"

# can wrap quotes with the opposite quote type
string1a = "'abc'"
string2a = '"abc"'

# bool --> only two values
my_bool = True
my_bool_2 = False

#### Output and Printing

In [ ]:
print('hello world')

# by default, places a space in-between
print('4.5', 'hello')

# denote ending
print('hello', 'world', 87, end='|')

# default is \n, which is the next line
print('hello', 'world', 87, end = '\n')

hello world
4.5 hello
hello world 87|hello world 87

#### Variables

In [8]:
# define variables here
hello = 'will'
world = 'world'

# program follows sequential order
print(hello, world)
world = hello
hello = 'no'
print(hello, world)

will world
no will

In [11]:
# no special symbols (besides underscore), cannot start with a number
9hello #<--- this will throw an error

SyntaxError: invalid decimal literal (154156061.py, line 2)

In [12]:
# follow snake case, not camel case
do_this = 5 # snake
notThis = 5 # camel

#### Getting User Input

In [ ]:
# must be a string in the prompt

input('Name: ') # important to add the space after the colon

'tim'

In [15]:
# store the input
name = input('Name: ')
print(name)

will

#### Arithematic Operations

In [20]:
x = 9
y = 3.2
result = x+y
print(result)
result = x*y
print(result)
result = x-y
print(result)
result = x/y
print(result)

12.2
28.8
5.8
2.8125

In [25]:
# exponents
result = 9**3
print(result)

# floor division (gives the integer result of whatever the result is)
# if answer = 3.888, then it will be 3
result = 10//3
print('Floor result', result, 'Float result', 10/3)

# modulus (remainder)
# 10 % 3 would be 1, since 3*3 = 9, 10-9 = 1
print(10%3)

729
Floor result 3 Float result 3.3333333333333335
1

In [ ]:
# observe error here, input always returns a string
num = input('Number: ') # --> str 
print(num - 5)

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [29]:
# instead use int() to convert
num = input('Number: ') # --> str 
print(int(num)-5)

# float also works
num = input('Number: ') # --> str 
print(float(num)-5)

20
20.0

#### String Methods

In [34]:
hello = 'hello'.upper()
print(hello)

# also equivalent
hello = 'hello'
print(hello.upper())

# lower
hello = 'HELLO'.lower()
print(hello)

# capital
hello = 'hEllo WorLd'
print(hello.capitalize())

# count
hello = 'hello world'
print(hello.count('o'))

HELLO
HELLO
hello
Hello world
2

In [38]:
# string operations

x = 'hello'
y = 3
print(x * y)

y = 'yes' 
print(x+y) # concatenation

hellohellohello
helloyes

#### Conditions and Conditional Operators

In [42]:
True
False

""" Operators:
== # equality
!= # not equal to
<= # less than or equal to
>= # greater than or equal to 
< # less than
> # greater than
"""

' Operators:\n== # equality\n!= # not equal to\n<= # less than or equal to\n>= # greater than or equal to \n< # less than\n> # greater than\n'

In [44]:
x = 'hello'
y = 'hello' 

print(x==y)
print(x!=y)

True
False

In [47]:
# comparing strings

print('a' > 'Z') 

# why is this true? its because of ordinal values in ASCII code
print(ord('a'))
print(ord('Z'))

True
97
90

In [48]:
print(7.0 == 7)

True

#### Chained Conditionals

In [ ]:
x = 7
y = 8
z = 0


result1 = x == y
result2 = y > x 
result3 = z - 2 < x + 2 # evaluates on each side

# can use and, or, not to chain conditionals
result4 = result1 or result2 # only false if both false 
print(result4)

# using not keyword
print(not True)
print(not (False or True)) # True turned to False
print(not (False and True)) # False turned to True

True
False
False
True

**Order of Operations**

1. not
2. and
3. or

In [3]:
# evaluate the 'and' first, then the or
print(not (False and True or True))

False

#### If Else Else If

In [4]:
x = input('Name: ')

if x == 'Will':
    print(f'Hello {x}')
else:
    print('No')

print('Do this last')

Hello Will
Do this last

In [ ]:
x = input('Name: ')

if x == 'Tim':
    print('Hi Tim')
elif x == 'Will':
    print('Hi Will')
else:
    print('not valid')

# always one if, one else, as many else ifs as you want

This is Tim

#### Lists and Tuples

In [ ]:
# list is an ordered collection, can contain any types of elements

x = [4, True, 'wow']
nothing = [] # empty list

print('Getting length of list: ')
print(len(x), len(nothing), x, nothing)

print()

3 0 [4, True, 'wow'] []