### Notebook Topic: Python Basics Crash Course
### Video Lecture: [Python in 75 Minutes](https://www.youtube.com/watch?v=VchuKL44s6E&t=94s)
### Date Created: October 1st, 2025

#### Core Datatypes

In [2]:
# Data Types

# int --> whole numbers
val1 = -267236
val2 = 76373

# float --> any number with decimals 
float1 = 2727.0
float2 = 3.14159

# string --> enclosed in quotes (single or double)
string1 = 'abc'
string2 = "hello world"

# can wrap quotes with the opposite quote type
string1a = "'abc'"
string2a = '"abc"'

# bool --> only two values
my_bool = True
my_bool_2 = False

#### Output and Printing

In [3]:
print('hello world')

# by default, places a space in-between
print('4.5', 'hello')

# denote ending
print('hello', 'world', 87, end='|')

# default is \n, which is the next line
print('hello', 'world', 87, end = '\n')

hello world
4.5 hello
hello world 87|hello world 87

#### Variables

In [4]:
# define variables here
hello = 'will'
world = 'world'

# program follows sequential order
print(hello, world)
world = hello
hello = 'no'
print(hello, world)

will world
no will

In [5]:
# no special symbols (besides underscore), cannot start with a number
9hello #<--- this will throw an error

SyntaxError: invalid decimal literal (154156061.py, line 2)

In [6]:
# follow snake case, not camel case
do_this = 5 # snake
notThis = 5 # camel

#### Getting User Input

In [7]:
# must be a string in the prompt

input('Name: ') # important to add the space after the colon

'Will'

In [8]:
# store the input
name = input('Name: ')
print(name)

Bob

#### Arithematic Operations

In [9]:
x = 9
y = 3.2
result = x+y
print(result)
result = x*y
print(result)
result = x-y
print(result)
result = x/y
print(result)

12.2
28.8
5.8
2.8125

In [10]:
# exponents
result = 9**3
print(result)

# floor division (gives the integer result of whatever the result is)
# if answer = 3.888, then it will be 3
result = 10//3
print('Floor result', result, 'Float result', 10/3)

# modulus (remainder)
# 10 % 3 would be 1, since 3*3 = 9, 10-9 = 1
print(10%3)

729
Floor result 3 Float result 3.3333333333333335
1

In [11]:
# observe error here, input always returns a string
num = input('Number: ') # --> str 
print(num - 5)

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [12]:
# instead use int() to convert
num = input('Number: ') # --> str 
print(int(num)-5)

# float also works
num = input('Number: ') # --> str 
print(float(num)-5)

45
45.0

#### String Methods

In [13]:
hello = 'hello'.upper()
print(hello)

# also equivalent
hello = 'hello'
print(hello.upper())

# lower
hello = 'HELLO'.lower()
print(hello)

# capital
hello = 'hEllo WorLd'
print(hello.capitalize())

# count
hello = 'hello world'
print(hello.count('o'))

HELLO
HELLO
hello
Hello world
2

In [14]:
# string operations

x = 'hello'
y = 3
print(x * y)

y = 'yes' 
print(x+y) # concatenation

hellohellohello
helloyes

#### Conditions and Conditional Operators

In [15]:
True
False

""" Operators:
== # equality
!= # not equal to
<= # less than or equal to
>= # greater than or equal to 
< # less than
> # greater than
"""

' Operators:\n== # equality\n!= # not equal to\n<= # less than or equal to\n>= # greater than or equal to \n< # less than\n> # greater than\n'

In [16]:
x = 'hello'
y = 'hello' 

print(x==y)
print(x!=y)

True
False

In [17]:
# comparing strings

print('a' > 'Z') 

# why is this true? its because of ordinal values in ASCII code
print(ord('a'))
print(ord('Z'))

True
97
90

In [18]:
print(7.0 == 7)

True

#### Chained Conditionals

In [19]:
x = 7
y = 8
z = 0


result1 = x == y
result2 = y > x 
result3 = z - 2 < x + 2 # evaluates on each side

# can use and, or, not to chain conditionals
result4 = result1 or result2 # only false if both false 
print(result4)

# using not keyword
print(not True)
print(not (False or True)) # True turned to False
print(not (False and True)) # False turned to True

True
False
False
True

**Order of Operations**

1. not
2. and
3. or

In [20]:
# evaluate the 'and' first, then the or
print(not (False and True or True))

False

#### If Else Else If

In [21]:
x = input('Name: ')

if x == 'Will':
    print(f'Hello {x}')
else:
    print('No')

print('Do this last')

Hello Will
Do this last

In [22]:
x = input('Name: ')

if x == 'Tim':
    print('Hi Tim')
elif x == 'Will':
    print('Hi Will')
else:
    print('not valid')

# always one if, one else, as many else ifs as you want

Hi Tim

#### Lists and Tuples

In [23]:
# list is an ordered collection, can contain any types of elements

x = [4, True, 'wow']
nothing = [] # empty list

print('Getting length of list: ')
print(len(x), len(nothing), x, nothing)

print()

Getting length of list:
3 0 [4, True, 'wow'] []

In [ ]:
# adding element to end of list
x.append('Bob')
print('Adding element to end of list: ')
print(x)

# extending list by another list
y = [4, 5, False]
x.extend(y)
print('Extending list: ')
print(x)

# remove and return last element
popped_element = x.pop()
print('Popping List: ')
print('List', x, 'Element', popped_element)

# removing by index (in this case first element)
element = x.pop(0)
print(x, element)

# replacing element in list
x = [4, 'hello', False]
x[0] = 88
print(x)

Adding element to end of list:
['Bob', 4, 5, False, 'Bob', 4, 5, 'Bob', 4, 5, 'Bob', 4, 5, 'Bob', 4, 5, 'Bob', 4, 5, 'Bob', 4, 5, 'Bob']
Extending list:
['Bob', 4, 5, False, 'Bob', 4, 5, 'Bob', 4, 5, 'Bob', 4, 5, 'Bob', 4, 5, 'Bob', 4, 5, 'Bob', 4, 5, 'Bob', 4, 5, False]
Popping List:
List ['Bob', 4, 5, False, 'Bob', 4, 5, 'Bob', 4, 5, 'Bob', 4, 5, 'Bob', 4, 5, 'Bob', 4, 5, 'Bob', 4, 5, 'Bob', 4, 5] Element False
[4, 5, False, 'Bob', 4, 5, 'Bob', 4, 5, 'Bob', 4, 5, 'Bob', 4, 5, 'Bob', 4, 5, 'Bob', 4, 5, 'Bob', 4, 5] Bob
[88, 'hello', False]

**Important**: lists are "mutable" meaning they can be changed
- This means that x stores a reference to the list and the actual items are stored somewhere else
- Tuples on the other hand are immutable (cannot be changed after creation)
- This is fairly complicated, refer to "lists-vs-tuples.md" in Coding Theory Notes

In [3]:
x = [4, True, 'hi']
y = x
y[0] = 8 # modifies x as well
print(x)

y = x[:] # creates a copy of the list instead of a pointer
y[0] = 16 # doesn't change x
print(x, y)

[8, True, 'hi']
[8, True, 'hi'] [16, True, 'hi']

In [4]:
# tuples are immutable, cannot be changed
x = (8, 5, 6)
print(x[0])

8

In [5]:
# but if you tried..
x[0] = 5

TypeError: 'tuple' object does not support item assignment

#### For Loops and While Loops

In [ ]:
for i in range(10): # only specifiying stop 
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10, -2, -2): # specifiying start, stop, and step
    print(i)

# important to note that range doesn't include the final element

10
8
6
4
2
0

In [12]:
for i, ele  in enumerate([2, 4, 6, 8]): # printing the index and elements using enumerate keyword
    print(i, ele)

0 2
1 4
2 6
3 8

In [15]:
i = 0
while i < 10:
    print('running')
    print(i)
    i += 1

print('Outside!', i)
# increments i to 10, checks condition, then breaks

running
0
running
1
running
2
running
3
running
4
running
5
running
6
running
7
running
8
running
9
Outside! 10

#### List Slicing

In [ ]:
x = [0,1,2,3,4,5,6,7,8]
y = ['hi', 'hello', 'goodbye', 'cya']

sliced = x[0:4:2] # start, stop, step, just like with range, do not include 4
print(sliced)

# can leave blanks in start, stop, or step
print(x[2:]) # omit ending
print(x[:7]) # omit starting
# if you omit step, it just goes by 1

x_reverse = x[::-1] # steps by negative 1
print(x_reverse)

[0, 2]
[2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6]
[8, 7, 6, 5, 4, 3, 2, 1, 0]

#### Sets

With sets, only care about if an item exists or doesn't exist, no duplicates are allowed

Very fast, everything is done in constant time

In [ ]:
x = set([4, 34, 88, 4])
print(x)
print(type(x))

# sets can also be created using {}, known as a set literal
s = {4, 32, 2, 2}
print(s)
print(type(s))
print(type({})) # empty set literal is a dictionary, not good, so if you want to create an empty set, use set() constructor

{88, 34, 4}
<class 'set'>
{32, 2, 4}
<class 'set'>
<class 'dict'>

In [32]:
# checking elements in a set

print(4 in x)
print(22 in x)

# adding and removing
x.add(5)
print(x)
x.remove(5)
print(x)

True
False
{88, 34, 4, 5}
{88, 34, 4}

In [ ]:
# set operations

s = {8, 5, 2}
s1 = {22, 88, 5, 2}

print(s.union(s1)) # all elements between sets combined
print(s.intersection(s1)) # elements in common
print(s.difference(s1)) # elements in set s, that aren't in s1
print(s1.difference(s)) # elements in sset s1, that aren't in s

{2, 5, 22, 8, 88}
{2, 5}
{8}
{88, 22}

#### Dictionaries

In [ ]:
x = {'key': 4}
print(x['key'])

# dictionaries consist of key, value pairs
# all keys must be unique
# any valid data types are allowed for elements, even other dictionaries or lists


x['key2'] = 5 # adding a new element
print(x)
x[55] = [1, 2, 3, 4] # can be integer keys, elements can be any valid type
print(x)

4
{'key': 4, 'key2': 5}
{'key': 4, 'key2': 5, 55: [1, 2, 3, 4]}

In [46]:
# dictionary operations

print(x.keys())
print(x.values())
print(55 in x)
del x['key2']
print(x)

dict_keys(['key', 'key2', 55])
dict_values([4, 5, [1, 2, 3, 4]])
True
{'key': 4, 55: [1, 2, 3, 4]}

In [49]:
# looping over dictionaries

for key, value in x.items(): # key, value pairs
    print(key, value)

for key in x: # just keys
    print(x[key]) # now print elements

key 4
55 [1, 2, 3, 4]
4
[1, 2, 3, 4]

### List Comprehensions

In [60]:
# define a for loop within a list

y = [x for x in range(5)] # the left most element (x) is assigned to the list y
print(y)

y = [i**2 for i in range(10)] # squaring each number 0-9
print(y)

y = [i for i in range(100) if i%10==0] # adding conditions
print(y)

y = tuple(i for i in range(100) if i%10==0) # works with tuples if you use tuple constructor
print(y)

[0, 1, 2, 3, 4]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
(0, 10, 20, 30, 40, 50, 60, 70, 80, 90)

#### Functions

In [66]:
# basic definition of functions

def my_func():
    print('Run')

my_func()


# basic arguments
def my_func(x , y):
    print(x**y)

my_func(20, 5)

Run
3200000

In [72]:
# returning multiple elements
def tuple_func(x, y):
    print(x , y)
    return x**y, x*y

result = tuple_func(5, 10)
print(result, type(result))

# default parameters
def default_func(x, y, z=5):
    print(x, y, z)
    return x*y, z*y, x*z

result = default_func(5, 8) # not passing in z
print(result)
result = default_func(5, 8, z=16) # now passing in our own z
print(result)

5 10
(9765625, 50) <class 'tuple'>
5 8 5
(40, 40, 25)
5 8 16
(40, 128, 80)

In [81]:
# *args and **kwargs

# unpacking a list or tuples
x = [1231, 26325, 52030, 56]
print(*x) # separate each element

def func(x, y):
    print(x, y)

pairs = [(1,2), (8, 5)] # list of tuples we want to pass into func
for pair in pairs:
    # could do pair[0] and pair[1]
    func(*pair) # separates each pair into x and y

# ** is used for a dictionary
func(**{'y': 5, 'x': 2}) # doesn't need to be correct order, just name the elements correctly

1231 26325 52030 56
1 2
8 5
2 5

In [82]:
# *args and **kwargs in function declaration

# args stands for arguments
# kwargs stands for keyword arguments, like var=88, var1='hello'

# this function accepts unlimited arguments and keyword arguments
def func(*args, **kwargs):
    print(args, kwargs)

func(1, 2, 3,4,5,6, var=88, var1= 99)

(1, 2, 3, 4, 5, 6) {'var': 88, 'var1': 99}

In [85]:
# unpacking elements

def func(*args, **kwargs):
    print(*args)

func(1, 2, 3,4,5,6, var=88, var1= 99)

def func(*args, **kwargs):
    print(**kwargs) # throws an error because it trys to pass var and var1 into the print function, which doesn't make sense

func(1, 2, 3,4,5,6, var=88, var1= 99)

1 2 3 4 5 6

TypeError: 'var' is an invalid keyword argument for print()

#### Exceptions

In [88]:
# raising exceptions

raise Exception('Exception!') # creating a general exception

Exception: Exception!

In [90]:
# handling exceptions

try: # try first
    x = 7/0
except Exception as e: # store whatever the exception is in e
    print(e)
finally: # always executed, used for cleanup operations
    print('finally')

division by zero
finally

#### Lambdas

In [93]:
# lambdas are one-line functions

x = lambda x: x +5
print(x(2))

x = lambda x, y: x +y
print(x(2, 25))

7
27

In [101]:
x = list(range(0, 51, 2)) # range returns a range object, use list to convert
print(x)

mp = map(lambda i: i+10, x) # this maps every element in x to the lambda function
print(list(mp)) # again have to convert

filt = filter(lambda i: i >= 40, x) # filters apply the lambda to each element in x, checking for True or False
print(list(filt))

# can use an actual function instead of lambda, but lambda takes up less space

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60]
[40, 42, 44, 46, 48, 50]

#### F-strings

In [103]:
x = 'wow'
print(f'hello world {68+5} and {x}')

# pretty self explanatory here

hello world 73 and wow